body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

h1, h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

img {
  height: 400px;
  width:400px;
}

table {
  width: 50%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#nutrient-info {
  margin-top: 0;
  width: 100%;
}
